@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');

/*======================================== Start General ========================================*/

body,
html {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/*======================================== End General ========================================*/

/*======================================== Start Navigation Area ========================================*/

.header {
    position: fixed;
    width: 100%;
    height: 6rem;
    z-index: 99;
    transition: all 0.7s ease-in-out;
    background: rgb(245, 222, 179, 0.5);
}

.header.active {
    position: fixed;
    background: rgba(55, 48, 48, 0.98);
    width: 100%;
    transition: all 0.7s ease-in-out;
}

.header .menu .navbar .navbar-brand h2 {
    font-family: "Quattrocento", sans-serif;
    font-weight: 700;
    color: #4c453a;
    padding-top: 1rem;
    font-size: 5rem;
}

.header .menu .navbar {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.header .menu .nav-item .nav-link {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    padding: 1.5rem;
    color: #42332E;
    font-size: 1.5rem;
}

.header .menu .navbar .navbar-brand h2,
.header .menu .nav-item .nav-link {
    line-height: 5px;
}

.header .menu .navbar-nav a:hover {
    text-decoration: underline;
    transition: all 0.40s ease-in-out;
}

.header .menu .navbar-nav {
    padding-right: 0;
    transition: all 0.20s ease-in-out;
}

.navbar-toggler {
    opacity: 0.5;
}

.navbar-toggler {
    color: white;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(250, 250, 250, 0.75)
}

.header .menu .collapsing,
.header .menu .show {
    background-color: rgb(245, 222, 179);
    text-align: center;
    margin-top: 2rem;
}

.header .menu .collapsing .nav-item .nav-link,
.header .menu .show .nav-item .nav-link {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.header .menu .show {
    margin-right: auto;
}

.header .menu .show .navbar-nav {
    padding-right: 0;
}

.header .menu .show .nav-link {
    padding-left: 0;
    padding-right: 0;
}

/*======================================== Start Navigation Area ========================================*/