@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');

/*======================================== Start General ========================================*/
:root {
    --light-wheat: rgb(245, 222, 179);
    --light-wheat-shade: rgb(245, 222, 179, 0.9);
    --dark-brown: #42332E;
    --mid-brown: #54240B;
    --light-brown: #764636;
    --gray-wheat: rgb(216, 196, 170);
    --white: #fafafa;
}

.darkmode {
    --light-wheat: #42332E;
    --light-wheat-shade: rgb(75, 25, 4, 0.9);
    --dark-brown: #fafafa;
    --mid-brown: rgb(216, 196, 170);
    --light-brown: #764636;
    --gray-wheat: #42332E;
    --white: #42332E;
}

body,
html {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Quattrocento", sans-serif;
    font-weight: 700;
    color: var(--dark-brown);
    font-size: 5rem;
    background: rgb(245, 222, 179, 0.3);
    text-align: center;

}

/*======================================== End General ========================================*/

/*======================================== Start Navigation Area ========================================*/

.header {
    position: fixed;
    width: 100%;
    height: 6rem;
    z-index: 99;
    transition: all 0.7s ease-in-out;
    background: var(--light-wheat);
}

.header.active {
    position: fixed;
    background: var(--light-wheat);
    width: 100%;
    transition: all 0.7s ease-in-out;
}

.header .menu .navbar .navbar-brand h2 {
    font-family: "Quattrocento", sans-serif;
    font-weight: 700;
    color: var(--dark-brown);
    padding-top: 1rem;
    font-size: 5rem;
}

.header .menu .navbar i {
    color: var(--dark-brown);
    font-size: 2rem;
}



.header .menu .navbar {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.header .menu .nav-item .nav-link {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    padding: 1.5rem;
    color: var(--dark-brown);
    font-size: 1.5rem;
}

.header .menu .navbar .navbar-brand h2,
.header .menu .nav-item .nav-link {
    line-height: 5px;
}

.header .menu .navbar-nav a:hover {
    text-decoration: underline;
    transition: all 0.40s ease-in-out;
}

.header .menu .navbar-nav {
    padding-right: 0;
    transition: all 0.20s ease-in-out;
}

.navbar-toggler {
    opacity: 0.5;
}

.navbar-toggler {
    color: white;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(250, 250, 250, 0.75)
}

.header .menu .collapsing,
.header .menu .show {
    background-color: var(--light-wheat);
    text-align: center;
    margin-top: 2rem;
}

.header .menu .collapsing .nav-item .nav-link,
.header .menu .show .nav-item .nav-link {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.header .menu .show {
    margin-right: auto;
}

.header .menu .show .navbar-nav {
    padding-right: 0;
}

.header .menu .show .nav-link {
    padding-left: 0;
    padding-right: 0;
}

/*======================================== End Navigation Area ========================================*/

/*======================================== Start Hero Area ========================================*/

.carousel-inner {
    padding-top: 6rem;
}

.carousel-item {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.d-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 66rem;
    text-align: center;
}

.d-block img {
    width: 100%;
    height: 100%;
}

.d-block h2 {
    padding-top: 18rem;
    font-weight: 700;
    font-size: 8rem;
    font-family: "Quattrocento", sans-serif;
    color: #fafafa;
    -webkit-text-stroke: 1px black;
}

#item1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bread-assortment.jpg');
}

#item2 {
    background-image: url('../images/starter.jpg');
}

#inner-item2 {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
    padding-top: 15%;
}

#inner-item2 h3 {
    background-color: var(--light-wheat-shade);
    font-weight: 700;
    font-size: 7rem;
    font-family: "Quattrocento", sans-serif;
    color: var(--dark-brown);
}

#inner-item2 p {
    background-color: var(--light-wheat-shade);
    font-weight: 700;
    font-size: 2rem;
    font-family: "Quattrocento", sans-serif;
    color: var(--dark-brown);

}

#item3 {
    background-image: url('../images/wheat2.jpg');
}


/*======================================== End Hero Area ========================================*/

/*======================================== Start Our Products ========================================*/

#our-products {
    background-color: var(--gray-wheat);
}

.central-container {
    position: relative;
    text-align: center;
}

#products {
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
    font-family: inherit;
}

.tab {
    overflow: hidden;
    border: 1px solid #42332E;
    background-color: var(--light-brown);
    text-align: center;
    border: 1px solid var(--dark-brown);
}

.tab button {
    color: #fafafa;
    float: left;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2rem;
    transition: 0.3s;
    text-align: center;
}

.tab button:hover {
    background-color: var(--mid-brown);
    color: var(--white);
}

.tab button.active {
    background-color: var(--mid-brown);
    color: var(--white);
}

.tab .active .tabcontent {
    background-color: var(--light-brown);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--dark-brown);
    border-top: none;
    background-color: var(--mid-brown);
    color: var(--white);
}

.tabcontent h3 {
    font-family: inherit;
    font-size: 4rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.recipe-picture img {
    height: 100%;
    width: 100%;
}

/*======================================== End Our Products ========================================*/

/*======================================== Start Our Locations ========================================*/

#our-locations {
    background-color: var(--gray-wheat);
}

#map {
    min-height: 40rem;
}

/*======================================== End Our Locations ========================================*/

/*======================================== Start Footer ========================================*/


footer {
    background-color: var(--light-wheat);
    color: var(--dark-brown);
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-size: medium;
}

footer p {
    padding-top: 1rem;
}

footer .row .work-with-me .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer .row .social-links {
    text-align: center;
    margin: 0 auto;
}

footer .row .social-links ul li {
    padding-left: 1rem;
    display: inline;
}

footer .row .social-links ul {
    padding-left: 0;
    padding-right: 1rem;
    margin-top: 1rem;
}

footer .row .social-links ul li a i {
    color: var(--dark-brown);
    background: var(--light-wheat);
    transition: all 0.35s ease-in-out;
}

footer .row .social-links ul li a i:hover {
    font-size: 120%;
}

/*======================================== End Footer ========================================*/

/*======================================== Start Modal Contact Form ========================================*/

#mymodal {
    padding-top: 10rem;
}

.modal-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.modal-content h3,
.modal-content h5 {
    color: #fafafa;
    font-weight: 300;
}

.modal-content .center-form .btn {
    margin-bottom: 1rem;
}

.modal-content .center-form .form-control {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-backdrop,
.show {
    background-color: rgba(0, 0, 0, 0.85);
}

/*======================================== End Modal Contact Form ========================================*/


/*======================================== Media Queries ========================================*/

@media screen and (max-width: 581px) {
    .header .menu .navbar .navbar-brand h2 {
        font-size: 4rem;
    }

    #inner-item2 {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        padding-top: 30%;
    }

    #inner-item2 h3 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 340px) {
    .header .menu .navbar .navbar-brand h2 {
        font-size: 3rem;
    }

    .header .menu .navbar i {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 807px) {
    #products {
        font-size: 1.5rem;
    }
}